<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Jobbr</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='semantic.min.css') }}">
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='semantic.min.js') }}"></script>
</head>
<body>
  <div class="ui top menu">
    <div class="ui container">
      <a href="{{ url_for('home') }}" class="ui blue header item">
        Jobbr
      </a>
      {% if g.user.is_authenticated %}
        <a href="{{ url_for('profile') }}" class="item">Profile</a>
      {% endif %}
      <div class="right menu">
        {% if g.user.is_authenticated %}
          <a href="{{ url_for('logout') }}" class="item">Logout</a>
        {% else  %}   
          <a href="{{ url_for('login') }}" class="item">Login</a>
          <a href="{{ url_for('register') }}" class="item">Register</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="ui container">
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="ui {{ category }} message">
        <p>{{ message }}</p>
      </div>
      {% endfor %}
    {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>