{% extends 'layout.html' %}
{% from '_formhelpers.html' import render_field %}
{% block content %}
<div class="ui one column center aligned grid">
  <div class="ten wide column">
    <form action="{{ url_for('register') }}" method="POST" class="ui form segment">
      {{ form.csrf_token }}
      <div class="two fields">
        <div class="field">
          {{ render_field(form.first_name) }}
        </div>
        <div class="field">
          {{ render_field(form.last_name) }}
        </div>
      </div>
      <div class="field">
        {{ render_field(form.email) }}
      </div>
      <div class="field">
        {{ render_field(form.password) }}
      </div>
      <div class="field">
        {{ render_field(form.confirm) }}
      </div>
      <div class="two fields">
        <div class="inline middle aligned field">
          <div class="ui checkbox">
            {{ render_field(form.agree_tos) }}
          </div>
        </div>
        <div class="ui right aligned field">
          <button class="ui primary submit button">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
$('.ui.checkbox')
  .checkbox()
;
</script>
{% endblock %}